<!-- Buffet 4, pay 3
<div>
  <input #priceBuffetInput type="text" placeholder="buffet per one" />
  <button (click)="handleCalculateBuffet(priceBuffetInput.value)">
    calculate
  </button>
</div>
<span>each one = {{ value }} </span> -->

<!-- <app-action-bar
  (numberChange)="testNumberChange($event)"
  [step]="5"
></app-action-bar>
<app-action-bar
  (numberChange)="testNumberChange($event)"
  [step]="10"
></app-action-bar>
<app-action-bar></app-action-bar> -->
<app-max-min-meter
  [minLabel]="appMinLabel"
  [maxLabel]="appMaxLabel"
  (maxChange)="doAppMinChange($event)"
  (minChange)="doAppMaxChange($event)"
></app-max-min-meter>
