<!-- Buffet 4, pay 3
<div>
  <input #priceBuffetInput type="text" placeholder="buffet per one" />
  <button (click)="handleCalculateBuffet(priceBuffetInput.value)">
    calculate
  </button>
</div>
<span>each one = {{ value }} </span> -->

<!-- <app-action-bar
  (numberChange)="testNumberChange($event)"
  [step]="5"
></app-action-bar>
<app-action-bar
  (numberChange)="testNumberChange($event)"
  [step]="10"
></app-action-bar>
<app-action-bar></app-action-bar> -->

<!-- <app-max-min-meter
  [minLabel]="appMinLabel"
  [maxLabel]="appMaxLabel"
  (maxChange)="doAppMinChange($event)"
  (minChange)="doAppMaxChange($event)"
></app-max-min-meter> -->

<!-- <app-square-flex
  [divHight]="squareHeigh"
  [divWidth]="squarewidth"
></app-square-flex>
<div>
  width:
  <button type="button" (click)="set100Width()">100px</button>
  <button type="button" (click)="set300Width()">300px</button>
  <button type="button" (click)="set500Width()">500px</button>
</div>
<div>
  hight:
  <button type="button" (click)="set100Hight()">100px</button>
  <button type="button" (click)="set300Hight()">300px</button>
  <button type="button" (click)="set500Hight()">500px</button>
</div> -->

<!-- <app-action-bar
  [(counter)]="appCounter"
  [step]="10"
></app-action-bar>
<app-square-flex [divWidth]="appCounter"></app-square-flex> -->

<!-- <app-action-bar *ngIf="activate; else esleTemplate"></app-action-bar>
<ng-template #esleTemplate>
  <div>activate now</div>
</ng-template>

<button (click)="activate = true">activate</button> -->

<!-- <ul>
  <li *ngFor="let customer of customerList; let i = index">
    {{ customer }}<button (click)="handelRemoveCustomer(i)">remove</button>
  </li>
</ul> -->

<!-- <div>
  <button (click)="handelPushCustomer()">push</button>
  <button (click)="handelUnshiftCustomer()">unshift</button>
</div> -->

<div>
  <label>name:</label><input type="text" #myNameInputText />
  <button (click)="searchBookList(myNameInputText.value)">search</button>
</div>
yo
<ul>
  <li *ngFor="let book of bookList">
    {{ book.name }}
  </li>
</ul>
hi

<!-- <div style="margin: 50px">
  <span class="p-float-label">
    <input pInputText id="username" [(ngModel)]="value2" />
    <label for="username">Username</label>
  </span>
</div> -->
